# Build outputs
/build/
**/build/
dist/
.idea/
*.iml
.local/

# Python virtual environments
.venv/
__pycache__/

# macOS
.DS_Store

# Logs
*.log

logs/
.gradle/
local.properties
**/google-services.json
